<div class="container-fluid p-0" style="height:calc(100%)">
    <div class="row no-gutters">
        <div class="col-12 shadow-lg" style="z-index: 1">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">My Angular App</a>
          </nav>
        </div>
      </div>
      <div class="row no-gutters" style="height:calc(100% - 56px)">
         <div class="col-md-2 bg-light d-none d-lg-block p-3" style="height:100%">
          <div *ngFor="let ele of navbarElements" class="text-center">
            <div class="col-12"></div>
            <span>
                <a routerLink="{{ele.url}}">{{ele.text}}</a>
            </span>
          </div>
         </div>
         <div class="col-lg-10 p-3">
            <router-outlet></router-outlet>
         </div>
      </div>
</div>

