<div class="row mb-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-4 lh-35">
                        {{Title}}
                    </div>
                    <div class="col-8 text-right">
                        <button (click)="add.emit()" class="mr-1" mat-raised-button color="basic"><i
                                class="fal fa-user-plus fa-lg"></i></button>
                        <button (click)="edit.emit(SelectedRow)" class="mr-1" [disabled]="!SelectedRow"
                            mat-raised-button color="basic"><i class="fal fa-user-edit fa-lg"></i></button>
                        <button (click)="delete.emit(SelectedRow)" [disabled]="!SelectedRow" mat-raised-button
                            color="accent"><i class="fal fa-trash-alt fa-lg"></i></button>
                    </div>
                </div>

            </div>
            <div class="card-body p-0">
                <table mat-table [dataSource]="MatTableDataSource" class="col-12">
                    <ng-container *ngFor="let def of ColumnDefinitions" matColumnDef="{{def.Name}}">
                        <th mat-header-cell *matHeaderCellDef> {{def.Name}} </th>
                        <td mat-cell *matCellDef="let element"> {{GetPropertyValue(element, def.PropertyAccessor)}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="VisibleColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: VisibleColumns;"
                        [style.background]="SelectedRow == row ? SelectedBackgroundColor : 'white'"
                        [style.color]="SelectedRow == row ? SelectedFontColor: 'black'" (click)="RowClicked(row)">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>