<div *ngIf="!users" class="col-12 text-center p-3">
    <mat-progress-spinner color="accent" mode="indeterminate" style="margin:auto"></mat-progress-spinner>
</div>
<div *ngIf="users">
    <app-multi-func-table [DataSource]="users" [ColumnDefinitions]="ColumnDefinitions" [Title]="'Benutzer'"
        (add)="Add()" (edit)="Edit($event)" (delete)="Delete($event)">
    </app-multi-func-table>

    <div class="row" *ngIf="userForm">
        <form class="col-12" [formGroup]="userForm" (ngSubmit)="OnSubmit(userForm.value, userForm.valid)">
            <div class="card">
                <div class="card-header pt-0 pr-0 pb-0 lh-35">
                    Benutzerdaten
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Id" formControlName="Id" [readonly]="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="FirstName" disabled formControlName="FirstName" />
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="LastName" formControlName="LastName" />
                            </mat-form-field>
                        </div>
                        <div class="col-6" *ngIf="roles">
                            <mat-form-field class="w-100">
                                <mat-select placeholder="Role" formControlName="RoleId">
                                    <mat-option *ngFor="let ro of roles" [value]="ro.Id">{{ro.Name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" mat-raised-button color="primary">Speichern</button>
                        </div>
                        <div class="col-6">
                            <button (click)="Cancel()" class="float-right" type="button" mat-raised-button
                                color="warn">Abbrechen</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>